# Server
PORT=5001

# Database
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/<dbname>

# Auth
JWT_SECRET=your_jwt_secret_here

# MoMo Sandbox Payment
MOMO_PARTNER_CODE=MOMO
MOMO_ACCESS_KEY=F8BBA842ECF85
MOMO_SECRET_KEY=K951B6PE1waDMi640xX08PD3vg6EkVlz
MOMO_ENDPOINT=https://test-payment.momo.vn/v2/gateway/api/create
MOMO_IPN_URL=http://localhost:5001/api/payment/momo-callback
MOMO_REDIRECT_URL=http://localhost:5173/payment-result
